/* Reset */
*,
*:before,
*:after { transition: all .3s ease-in-out 0s; }

label { color: #666; font-size: 12px; }

.captcha {
	margin: 0 0 5px;
	height: 78px;
	background-image: url(../img/rolling.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 10%;
}
.captcha > .g-recaptcha {
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
	-webkit-transform: scale(.95);
	        transform: scale(.95);
}

/* Themes */
.themes > .col { padding: 0; }
.themes > .col > a {
	display: block;
	height: 10px;
}
.themes:hover > .col > a { height: 32px; }
/*************/

.material-image {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
}

.bootstrap-select > .dropdown-menu { z-index: 100; }
.bootstrap-select > .btn { margin: 0; }

.m-center { display: table; margin-left: auto !important; margin-right: auto !important; float: none; }

.rotate { position: absolute; }
.rotate-90:hover { transform: rotate(90deg); }
.rotate-180:hover { transform: rotate(180deg); }

.float:before,
.float:after { content: " "; display: table; }
.float:after { clear: both; }
.float > .col { margin: 0; padding: 0; }

.row > .col > .col-overlay { margin: 0 -15px; }
.row > .col > .col-overlay-light { background: rgba(255, 255, 255, .5); }
.row > .col > .col-overlay-dark { background: rgba(0, 0, 0, .5); color: rgba(255, 255, 255, .8); }
.row > .col > .col-overlay-dark * { color: rgba(255, 255, 255, .8); }

p.line { line-height: 24px; overflow: hidden; }
p.line-dual { height: 48px; }
p.line-triple { height: 72px; }
p.line-quad { height: 96px; }

.dropdown-menu {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
}
.dropdown-menu > .active > a { background: #444; }
.dropdown-menu > .active > a:hover { background: #ccc; }

h1.single-title,
h2.single-title,
h3.single-title,
h4.single-title,
h5.single-title,
h6.single-title {
	font-weight: 300;
	padding: 10px 0;
}

/* Discount */
.discount:before,
.discount:after { content: " "; display: table; }
.discount:after { clear: both; }
.discount { display: table; margin: 0 auto; }
.discount > .percent { float: left; margin: 2px 0 0; padding: 10px; text-align: center; font-size: 22px; }
.discount > .price { float: left; padding: 0 0 0 10px; text-align: left; }
.discount > .price > s { font-size: 14px; display: block; margin: 0 0 2px; }
.discount > .price > mark { font-size: 20px; background: transparent; }

/* Readmore */
.read-more {
	overflow: hidden;
    cursor: pointer;
}
.read-more:before {
	content: ' ';
	width: auto;
	display: block;
	position: absolute;
	right: 16px;
	left: 16px;
	background:         linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 99%);
	background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 99%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#00ffffff', endColorstr = '#ffffff', GradientType = 0 );
}
.read-more,
.read-more:before { height: 96px; }
.read-more:hover,
.read-more:hover:before { height: 128px; }
.read-more.active { height: auto; cursor: initial; }
.read-more.active:before { background: transparent; }
.read-more.active:hover { opacity: 1; }
/*************/

body { overflow-x: hidden; }

h1, h2, h3, h4, h5, h6,
p,
ul { margin: 0; padding: 0; list-style: none; }

ul.dropdown-menu { border-width: 0; margin: 0; }
ul.dropdown-menu > li > a { padding: 5px 15px; }

.img-center { float: none; margin: 0 auto; }
.img-64 { width: 64px; }

/*************/
/* Testimonials */
.testimonials { margin: 0 0 15px; }
.testimonials > blockquote { margin: 0 0 10px; padding: 10px 15px; background: #e9e9e9; font-size: 14px; }
.testimonials > .float > .img { width: 25%; }
.testimonials > .float > .img > .img-responsive { float: right; }
.testimonials > .float > .card { width: 75%; padding: 0 0 0 15px; }
.testimonials > .float > .card > .title { color: #c00; }
/*************/
/* Carousels */
.carousel > .carousel-indicators > li {
	border-width: 0;
	border-radius: 0;
	margin: 0;
	background: rgba(255, 255, 255, .5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
}
.carousel > .carousel-indicators > li.active { width: 20px; height: 10px; background: #fff; }
.carousel > .carousel-control {
	width: 32px;
	height: 32px;
	background-color: #fff;
	opacity: 1;
	text-shadow: none;
	overflow: hidden;
	color: #999;
	box-shadow: none;
	background-image: none;
	top: 50%;
	margin-top: -16px;
	opacity: 0;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
}
.carousel > .carousel-control:hover,
.carousel > .carousel-control:active,
.carousel > .carousel-control:focus { color: #fff; background: #333; }
.carousel > .carousel-control.left { left: 10px; transform: translate(-100%); }
.carousel > .carousel-control.right { right: 10px; transform: translate(100%); }
.carousel:hover > .carousel-control { transform: translate(0); opacity: 1; }
.carousel > .carousel-control > .ion { line-height: 32px; }

/*------*/
.carousel.carousel-thumbnails > .carousel-indicators {
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	position: static;
	display: block;
	float: none;
	text-align: left;
}
.carousel.carousel-thumbnails > .carousel-indicators:before,
.carousel.carousel-thumbnails > .carousel-indicators:after { content: " "; display: table; }
.carousel.carousel-thumbnails > .carousel-indicators:after { clear: both; }
.carousel.carousel-thumbnails > .carousel-indicators > li { float: left; width: 10%; height: auto; display: table; box-shadow: none; }
.carousel.carousel-thumbnails > .carousel-indicators > li > img { }
.carousel.carousel-thumbnails > .carousel-indicators > li.active { background: rgba(0, 0, 0, .1) }

/*************/

/*************/
/* Thumbnail */
.thumbnail { background: transparent; border-width: 0; border-radius: 0; padding: 0; }
/*************/

/* Plan */
.plan > h3 { line-height: 48px; font-weight: 300; }
.plan > p { padding: 10px 0; }
.plan > .hr { padding: 1px 0 0; }

/* Text Icon */
.text-icon { font-size: 36px; font-weight: 300; line-height: 64px; }
.text-icon > span { display: inline-block; font-size: 14px; padding: 0 16px; }
@media (min-width: 768px) and (max-width: 991px) {
	.text-icon.text-icon-responsive { font-size: 26px; }
}
@media (max-width: 767px) {
	.text-icon.text-icon-responsive { font-size: 20px; }
}
@media (max-width: 420px) {
	.text-icon.text-icon-responsive { font-size: 14px; }
}
/*************/

/* Chat */
.chat > .list-group-item { border-width: 0 !important; }
.chat > .list-group-item > .float > .col { display: table; width: 10%; }
.chat > .list-group-item > .float > .col.message {
	background: #fff;
	max-width: 90%;
	min-width: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    padding: 10px;
}
/*************/
/* Padding & Margin */
.pd-5 { padding: 5px !important; }
.pd-10 { padding: 10px !important; }
.pd-20 { padding: 20px !important; }
.pd-30 { padding: 30px !important; }
.pd-40 { padding: 40px !important; }
.pd-50 { padding: 50px !important; }
.pd-60 { padding: 60px !important; }

.pd-5p { padding: 5% !important; }
.pd-10p { padding: 10% !important; }
.pd-20p { padding: 20% !important; }
.pd-30p { padding: 30% !important; }
.pd-40p { padding: 40% !important; }

.pdt-5 { padding-top: 5px !important; }
.pdt-10 { padding-top: 10px !important; }
.pdt-20 { padding-top: 20px !important; }
.pdt-30 { padding-top: 30px !important; }
.pdt-40 { padding-top: 40px !important; }
.pdt-50 { padding-top: 50px !important; }
.pdt-60 { padding-top: 60px !important; }

.pdt-5p { padding-top: 5% !important; }
.pdt-10p { padding-top: 10% !important; }
.pdt-20p { padding-top: 20% !important; }
.pdt-30p { padding-top: 30% !important; }
.pdt-40p { padding-top: 40% !important; }

.pdb-5 { padding-bottom: 5px !important; }
.pdb-10 { padding-bottom: 10px !important; }
.pdb-20 { padding-bottom: 20px !important; }
.pdb-30 { padding-bottom: 30px !important; }
.pdb-40 { padding-bottom: 40px !important; }
.pdb-50 { padding-bottom: 50px !important; }
.pdb-60 { padding-bottom: 60px !important; }

.pdb-5p { padding-bottom: 5% !important; }
.pdb-10p { padding-bottom: 10% !important; }
.pdb-20p { padding-bottom: 20% !important; }
.pdb-30p { padding-bottom: 30% !important; }
.pdb-40p { padding-bottom: 40% !important; }

.pdl-5 { padding-left: 5px !important; }
.pdl-10 { padding-left: 10px !important; }
.pdl-20 { padding-left: 20px !important; }
.pdl-30 { padding-left: 30px !important; }
.pdl-40 { padding-left: 40px !important; }
.pdl-50 { padding-left: 50px !important; }
.pdl-60 { padding-left: 60px !important; }

.pdr-5 { padding-right: 5px !important; }
.pdr-10 { padding-right: 10px !important; }
.pdr-20 { padding-right: 20px !important; }
.pdr-30 { padding-right: 30px !important; }
.pdr-40 { padding-right: 40px !important; }
.pdr-50 { padding-right: 50px !important; }
.pdr-60 { padding-right: 60px !important; }
/*************/

.hyper-user { padding: 0 4px; }
.hyper-user.red { color: #c00; }
.hyper-user.bold { font-weight: 700; }
.hyper-user.muted { opacity: .5; }
.hyper-user.strike { text-decoration: line-through; }

.closes { cursor: pointer; }

.disabled { opacity: .5; }
.disabled.disabled-unstyled { opacity: 1; }

.wait { cursor: wait; }

.hr { padding: 2px; box-shadow: inset 0 0 4px 0 rgba(100, 100, 100, .5); }
.hr.hr-light { box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, .5); }
.hr.hr-center { width: 10%; margin: 15px auto; }

.radio,
.checkbox { margin: 0 !important; padding: 5px; }
.radio > label,
.checkbox > label { width: 100%; }

.avatar { max-width: 72px; border: 1px solid rgba(200, 200, 200, .5); padding: 2px; }
.avatar-sm { max-width: 32px; }

a,
a:visited,
a:link,
a:active { color: #444; }
a:hover { color: #999; }

.badge {
	border-radius: 2px;
	background: rgba(0, 0, 0, .2);
	font-size: 10px;
	color: rgba(255, 255, 255, .9);
	text-shadow: none;
	padding: 4px 4px;
	font-weight: 300;
}
/*************/
/* Progress */
.progress { height: 2px; margin: 0; border-radius: 0; }
.progress > .progress-bar-red { background: #d12a27; }
.progress > .progress-bar-green { background: #2e372e; }
.progress > .progress-bar-blue { background: #30267e; }
.progress > .progress-bar-purple { background: #412534; }
.progress > .progress-bar-orange { background: #4c3c1e; }
.progress > .progress-bar-muted { background: #f0f0f0; }
/*************/
/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
	transform: translate(-100%);
	transition: none;
}
/*************/
.text-left-not-xs,
.text-left-not-sm,
.text-left-not-md,
.text-left-not-lg { text-align: left; }
.text-center-not-xs,
.text-center-not-sm,
.text-center-not-md,
.text-center-not-lg { text-align: center; }
.text-right-not-xs,
.text-right-not-sm,
.text-right-not-md,
.text-right-not-lg { text-align: right; }
.text-justify-not-xs,
.text-justify-not-sm,
.text-justify-not-md,
.text-justify-not-lg { text-align: justify; }

@media (max-width: 767px) {
    .text-left-not-xs,
    .text-center-not-xs,
    .text-right-not-xs,
    .text-justify-not-xs { text-align: inherit; }
    .text-left-xs { text-align: left; }
    .text-center-xs { text-align: center; }
    .text-right-xs { text-align: right; }
    .text-justify-xs { text-align: justify; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm,
    .text-center-not-sm,
    .text-right-not-sm,
    .text-justify-not-sm { text-align: inherit; }
    .text-left-sm { text-align: left; }
    .text-center-sm { text-align: center; }
    .text-right-sm { text-align: right; }
    .text-justify-sm { text-align: justify; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md,
    .text-center-not-md,
    .text-right-not-md,
    .text-justify-not-md { text-align: inherit; }
    .text-left-md { text-align: left; }
    .text-center-md { text-align: center; }
    .text-right-md { text-align: right; }
    .text-justify-md { text-align: justify; }
}
@media (min-width: 1200px) {
    .text-left-not-lg,
    .text-center-not-lg,
    .text-right-not-lg,
    .text-justify-not-lg { text-align: inherit; }
    .text-left-lg { text-align: left; }
    .text-center-lg { text-align: center; }
    .text-right-lg { text-align: right; }
    .text-justify-lg { text-align: justify; }
}
/*************/

/* List Group */
.list-group { margin: 0; }
.list-group > .list-group-item { background: transparent; border-width: 0; padding: 10px; border-radius: 0; }
.list-group > .list-group-item.active { background-color: #ccc; border-radius: 0; }
.list-group.list-group-limit { max-height: 100px; overflow: auto; }
.list-group.list-group-limit-lg { max-height: 400px; overflow: auto; }
/*************/

/* Polling */
.polling {
	position: fixed;
	width: 48px;
	height: 48px;
	bottom: 4%;
	left: 2%;
	z-index: 1000;
	display: none;
}

body.polling-active > .polling { display: table; }
/*************/

/* Rolling */
.rolling {
	margin: 16px auto;
	opacity: .5;
	width: 48px;
	height: 48px;
	background-image: url('../img/rolling.svg');
	background-size: 48px;
}
.rolling.rolling-white {
	background-image: url('../img/rolling-white.svg');
}
/*************/

/* Alert */
.alert {
	border-width: 0;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.alert.alert-fluid {
	margin: 0 -15px;
	border-radius: 0;
	box-shadow: none;
}

.alert a { color: #fff; }
.alert a:hover { opacity: .5; }
/*************/

/* Forum Thread */
.user > .float { padding: 0 0 10px; }
.user > .float > .col { float: left; }
.user > .float > .col.image {  }
.user > .float > .col.information { padding: 10px 0 10px 15px; }
.user > .float > .col.information > h3 { font-weight: 300; }

.forum .thread > .embed-responsive { margin: 10px 0; }
.forum .thread > .signature {
	border-width: 1px 0 0;
	border-color: #ccc;
	border-style: dashed;
	margin: 10px 0 0;
	padding: 10px 0 0;
}

.quote {
	border-width: 0 0 0 4px;
	border-color: #ccc;
	border-style: solid;
	padding: 10px 10px 10px 24px;
	opacity: .7;
	margin: 0 0 10px;
}
.quote:hover { opacity: 1; }
.quote:before { content: "\f347"; font-family: "Ionicons"; color: #ccc; font-size: 24px; }
/*************/
/* Drawer */
.drawer {
	width: 240px;
	max-height: 100%;
	background: #fafafa;
	position: fixed;
	z-index: 801;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	transition: all .2s ease 0s;
	overflow: auto;
}
.drawer > .ct > .brand { margin: 0 -15px; padding: 0 15px; max-height: 64px; background: #efefef; }
.drawer > .ct > .brand > a { color: #666; }
.drawer > .ct > .group { margin: 0 -15px 5px; }
.drawer > .ct > .group a { display: block; height: 100%; padding: 0 15px; }
.drawer > .ct > .group a.disabled { opacity: .5; }
.drawer > .ct > .group a.active { background: #666; }
.drawer > .ct > .group a > .badge { float: none; }
.drawer > .ct .list-group > .list-group-item { border-width: 0; padding: 5px 15px; }

body.drawer-active { padding: 0 0 0 240px; }
body.drawer-active > .drawer {
	transform: translate(0);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
}

body.drawer-active.wide { overflow-y: hidden; padding: 0; }
body.drawer-active.wide > .overlay-drawer {
	transform: translate(0);
	z-index: 800;
}

@media (max-width: 992px) {
	body.drawer-active { overflow-y: hidden; padding: 0; }
	body.drawer-active > .overlay-drawer {
		transform: translate(0);
		z-index: 800;
	}
}
/*************/

/* Dock */
.dock {
	width: 240px;
	background: #fafafa;
	position: fixed;
	z-index: 701;
	top: 64px;
	bottom: 0;
	right: 0;
	transform: translate(100%);
	overflow: auto;
}
body.dock-active { overflow-y: hidden; }
body.dock-active > .dock {
	transform: translate(0);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
}
body.dock-active > .overlay-dock { transform: translate(0); z-index: 700; }
/*************/

/* Modal */
.modal {
	position: fixed;
	z-index: 901;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	transition: none;
	overflow: auto;
	padding: 24px 0;
}
.modal > .panel { padding: 0; transition: none; }
.modal > .panel > .panel-heading { padding: 10px 25px; line-height: 32px; min-height: 64px; color: #fff; opacity: 1; }
.modal > .panel > .panel-close {
	cursor: pointer;
	display: table;
	width: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 32px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px;
	background: rgba(0, 0, 0, .1);
	color: #fff;
}
.modal > .panel > .panel-close:hover { background: rgba(0, 0, 0, 1); }
.modal > .panel > .panel-body { padding: 30px; }
.modal > .panel > .panel-body > .material-pager { margin: 20px 0 0; padding: 0; }
.modal > .panel > .panel-body > .panel-brand { margin: -30px -30px 20px; }
.modal > .panel > .panel-body.gray { background: #f0f0f0; }
.modal > .panel > .panel-footer { margin: -2px 0 0; border-radius: 0 0 2px 2px; border-width: 0; }

/* BG Class */
.panel.share-bg > .panel-body { background-image: url('../img/share.png'); background-repeat: no-repeat; background-position: -64px -64px; }
.panel.user-bg > .panel-body { background-image: url('../img/user.png'); background-repeat: no-repeat; background-position: -64px -64px; }
/**/

body.modal-active { overflow-y: hidden; }
body.modal-active > .modal { transform: translate(0); }
body.modal-active > .overlay-modal { transform: translate(0); z-index: 900; }
/*************/

/* Top Link */
.page-top {
	position: fixed;
	z-index: 100;
	right: 32px;
	bottom: 32px;
	background: #ccc;
	width: 48px;
	line-height: 48px;
	text-align: center;
	opacity: .2;
	display: none;
}
.page-top:hover { opacity: .8; }

body.top-active > .page-top { display: table; }
/*************/
/*************/

/* Popover */
.popover { border-width: 0; box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2); border-radius: 0; padding: 0; }
.popover > .popover-content { opacity: .5; }
.popover > .arrow {  }
/*************/

/* Toast Alert */
.toast {
	position: fixed;
	z-index: 10000;
	right: 32px;
	bottom: 32px;
	left: 32px;
	display: none;
}
.toast:after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, .2);
}
.toast > .toast-content {
	display: table;
	margin: 0 auto;
	background: rgba(0, 0, 0, .9);
	border-radius: 4px;
	color: #ccc;
	padding: 10px 15px;
	cursor: pointer;
}

@media(max-width: 767px) {
	.toast { right: 0; bottom: 0; left: 0; }
	.toast > .toast-content { display: block; border-radius: 0; padding: 20px 30px; }
}
body.toast-active > .toast { display: block; }
/*************/

/* Preloading */
.preloader {
	position: fixed;
	top: 0;
	z-index: 10000;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 15% 0 0;
	text-align: center;
	transform: translate(-100%);
	transition: none;
}

body.preloader-active { overflow-y: hidden; }
body.preloader-active > .preloader { transform: translate(0); }
/*************/

/* Header */
.navbar-redknee {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
	border-width: 0;
	margin: 0;
	border-radius: 0;
}
.navbar-redknee > .ct > .navbar-collapse > .navbar-nav > li > a { font-weight: 700; color: #fff; }
.navbar-redknee > .ct > .navbar-header > button > .icon-bar { background: #fff; }
.navbar-redknee > .ct > .navbar-header > .navbar-brand { margin: 0; color: #fff; font-weight: 300; }
.navbar-redknee .nav-image { background: rgba(0, 0, 0, .5); padding-right: 52px; color: #fff; }
.navbar-redknee .nav-image > .image {
	position: absolute;
	bottom: 0;
	right: 2px;
	z-index: 10;
	width: 48px;
	height: 64px;
	background-repeat: no-repeat;
	background-size: contain;
}
@media(max-width: 767px) {
	.navbar-redknee .nav-image { padding-right: 10px; }
	.navbar-redknee .nav-image > .image { display: none; }

	.navbar-redknee > .ct > .navbar-collapse > .navbar-nav > li > a { color: #666; }
	.navbar-redknee > .ct > .navbar-collapse { background: #fff; box-shadow: none; border-width: 0; }
}
.mega-dropdown { position: static !important; }
.mega-dropdown > .mega-dropdown-menu { padding: 15px; text-align: center; width: 100%; border-width: 0; border-radius: 0; }
.mega-dropdown > .mega-dropdown-menu > .nav-tabs { display: inline-block; }

/*------*/
.nav > li > a:hover,
.nav > li > a:focus { background: rgba(0, 0, 0, .5); }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus { background: rgba(255, 255, 255, .1); }
/*------*/
nav.header {
	position: fixed;
	z-index: 750;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    max-height: 64px;
}

.theme-1 { background: rgba(0, 0, 0, 0) linear-gradient(141deg, #ef4034 0%, #ec554b 50%, #c8281d 75%) repeat scroll 0 0; }
.theme-2 { background: rgba(0, 0, 0, 0) linear-gradient(141deg, #b83b0f 0%, #db661f 50%, #e89f2c 75%) repeat scroll 0 0; }
.theme-3 { background: rgba(0, 0, 0, 0) linear-gradient(141deg, #a20fb8 0%, #d41fdb 50%, #772ce8 75%) repeat scroll 0 0; }
.theme-4 { background: rgba(0, 0, 0, 0) linear-gradient(141deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 75%) repeat scroll 0 0; }

nav.header.header-opacity { background: rgba(0, 0, 0, .1); box-shadow: none; }

nav.header.header-opacity.theme-1.active,
.search.theme-1 { background: #d32f2f; }
nav.header.header-opacity.theme-2.active,
.search.theme-2 { background: #a93309; }
nav.header.header-opacity.theme-3.active,
.search.theme-3 { background: #8620c5; }
nav.header.header-opacity.theme-4.active,
.search.theme-4 { background: #2fbed3; }

nav.header > .ct > ul > li { float: left; }
nav.header > .ct > ul > li > a.drawer-menu { padding: 12px 14px; }
nav.header > .ct > ul > li > a.drawer-menu > .disk { border-top: 1px solid rgba(255, 255, 255, .8); width: 32px; margin: 10px 0 6px; border-radius: 4px; }
nav.header > .ct > ul > li > a { display: block; height: 100%; color: #fff; padding: 0 16px; line-height: 64px; }
nav.header > .ct > ul > li > a > .ion { font-size: 16px; }
nav.header > .ct > ul > li > a > .img { max-height: 64px; }
nav.header > .ct > ul > li > a:hover,
nav.header > .ct > ul > li > a.active { background: rgba(255, 255, 255, .1); }
nav.header > .ct > ul > li > a.disabled { opacity: .5; box-shadow: none; cursor: default; }
nav.header > .ct > ul > li > .dropdown-menu { border-radius: 0 0 2px 2px; }

body.drawer-active > nav.header { left: 240px; }
body.drawer-active.wide > nav.header { left: 0; }

@media (max-width: 992px) {
	body.drawer-active > nav.header { left: 0; }
}
/*************/
section.ct.pd { padding-top: 15px; padding-bottom: 15px; }
section.ct.br { border-width: 1px 0; border-style: solid; border-color: #ccc; }
section.ct > .panel { margin: 0; }
/* BreadCrumb */
.breadcrumb-panel {
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
}
.breadcrumb { margin: 0; border-radius: 0; }
.breadcrumb > li.active { font-weight: 700; }
.breadcrumb > li + li::before { content: '\f3d3'; font-family: Ionicons; color: #666; padding: 0 10px; font-weight: 300; }

@media (max-width: 767px) {
	.breadcrumb > li { display: block; }
}
/*************/

/*------*/
.headline > .item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
	height: 200px;
}
.headline.wide > .item { height: 300px; }
.headline > .item > a { padding: 15px 10px; display: block; height: 100%; background: rgba(0, 0, 0, .5); }
.headline > .item > a:hover { background: rgba(0, 0, 0, .1); }
.headline > .item > a > .type { background: rgba(0, 0, 0, .5); display: table; color: #fff; padding: 2px 4px; font-size: 10px; }
.headline > .item > a > .type:after {
	font-family: 'Ionicons';
	position: absolute;
	font-size: 16px;
	background: rgba(0, 0, 0, .5);
	border-radius: 50%;
	display: table;
	width: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	bottom: 10px;
	left: 10px;
}
.headline > .item > a > .type.video:after { content: '\f215'; }
.headline > .item > a > .type.photo:after { content: '\f148'; }
.headline > .item > a > .type.article:after { content: '\f12f'; }
.headline > .item > a > .title { color: #fff; font-size: 16px; }

@media(max-width: 767px) {
	.headline > .item:nth-of-type(3),
	.headline > .item:nth-of-type(4) { height: 200px; }

	.headline.wide > .item:nth-of-type(3),
	.headline.wide > .item:nth-of-type(4) { height: 300px; }
}
@media(min-width: 768px) {}
@media(min-width: 992px) {
	.headline > .item:nth-of-type(3),
	.headline > .item:nth-of-type(4) { height: 100px; }

	.headline.wide > .item:nth-of-type(3),
	.headline.wide > .item:nth-of-type(4) { height: 150px; }
}
/*------*/
.megatron {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.megatron.megatron-mega > .megatron-overlay { padding: 15% 0; }
.megatron.megatron-sm > .megatron-overlay { padding: 1% 0; }
.megatron.megatron-md > .megatron-overlay { padding: 2% 0; }
.megatron.megatron-mega > .megatron-overlay > .ct > h1 { font-size: 64px; }

@media (max-width: 767px) {
	.megatron.megatron-sm > .megatron-overlay { padding: 4% 0; }
	.megatron.megatron-md > .megatron-overlay { padding: 6% 0; }
	.megatron.megatron-mega > .megatron-overlay > .ct > h1 { font-size: 32px; }
}

.megatron > .megatron-overlay.megatron-border { border-style: solid; border-width: 1px 0; }
.megatron > .megatron-overlay { padding: 6% 0; }
.megatron > .megatron-overlay-light { background-color: rgba(255, 255, 255, .5); border-color: rgba(0, 0, 0, .4); }
.megatron > .megatron-overlay-dark { background-color: rgba(0, 0, 0, .5); color: #fff; border-color: rgba(0, 0, 0, .6); }
.megatron > .megatron-overlay-dark * { color: #fff; }
.megatron > .megatron-overlay > .ct > h1 { font-weight: 300; }
.megatron > .megatron-overlay > .ct > p { font-size: 16px; font-weight: 300; }

.megatron.megatron-shake h1 {
		    animation: flicker 3s infinite;
	-webkit-animation: flicker 3s infinite;
}
.megatron.megatron-shake p {
	        animation: flicker 2s infinite;
	-webkit-animation: flicker 2s infinite;
}

@-webkit-keyframes flicker {
	0%, 43%, 47%, 61%, 63%, 97% {
		transform: skew(0deg, 0deg);
		opacity: 1;
	}
	45% {
		transform: rotateX(60deg) scale(.8) skew(-100deg, 60deg);
		opacity: .3;
	}
	62% {
		opacity: .3;
	}
	100% {
		transform: skew(60deg, 30deg);
	}
}
@keyframes flicker{
	0%, 43%, 47%, 61%, 63%, 97% {
		-moz-transform: skew(0deg, 0deg);
		     transform: skew(0deg, 0deg);
		opacity: 1;
	}
	45% {
		-moz-transform: rotateX(60deg) scale(.8) skew(-100deg, 60deg);
		     transform: rotateX(60deg) scale(.8) skew(-100deg, 60deg);
		     opacity: .3;
	}
	62% {
		opacity: .3;
	}
	100% {
		-moz-transform: skew(60deg, 30deg);
		     transform: skew(60deg, 30deg);
	}
}
/*------*/
.panel-soft { background: transparent; box-shadow: none; }
.panel-soft * { font-weight: 300; }
.panel-soft > .panel-heading { font-size: 24px; }
.panel-soft > .hr { margin: 15px auto; padding: 1px 0 0; }
.panel-soft h1,
.panel-soft h2,
.panel-soft h3,
.panel-soft h4,
.panel-soft h5,
.panel-soft h6 { padding: 0; }
/*------*/
.panel-material { box-shadow: none; background: transparent; }
.panel-material > .panel-heading { font-size: 24px; font-weight: 300; opacity: .9; }
.panel-material > .panel-body {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
              0 3px 1px -2px rgba(0, 0, 0, .1),
              0 1px 5px 0 rgba(0, 0, 0, .1);
  background: #fff;
  border-width: 0;
  padding: 10px;
  border-radius: 2px;
}
.panel-material > .panel-body.note {
	padding: 0 32px;
	background-image: repeating-linear-gradient(0deg, #e5d9a1, #e5d9a1 1px, #fff4c2 1px, #fff4c2 32px);
	line-height: 32px;
}
.panel-material > .panel-body.note > p { border-left: 1px solid #c00; padding: 0 0 0 32px; }
.panel-material > .panel-body > .card { margin: -10px; }
.panel-material > .panel-body.panel-body-unstyled { padding: 0; box-shadow: none; background: transparent; }
.panel-material > .panel-body > p { padding: 10px 0; }
.panel-material > .panel-body + .panel-body { margin: 15px 0 0; }
.panel-material > .list-group {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    padding: 0;
    background: #fff;
}
.panel-material > .panel-footer { background: transparent; }
/*------*/
.panel-unstyled { background: transparent; box-shadow: none; border-width: 0; }
.panel-unstyled > .panel-heading.panel-heading-material { font-size: 24px; font-weight: 300; cursor: default; opacity: .9; }
.panel-unstyled > .panel-collapse > .list-group { border-width: 0 !important; }
/*------*/
.panel.panel-gallery > .panel-body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
	overflow: hidden;
}
.panel.panel-gallery > .panel-body > a { background: rgba(255, 255, 255, .5); display: block; padding: 20% 10px 10px; }
.panel.panel-gallery > .panel-body > a:hover { background: rgba(0, 0, 0, .5); color: #fff; }
/*------*/

.panel.panel-product > .panel-body > a > .img {
	border-radius: 2px; margin: 1px;
}
/*------*/
.panel > .panel-heading { cursor: default; }
.panel > .panel-heading + .panel-heading { margin: 0; padding-top: 0; }
.panel > .panel-heading > .tiny,
.panel > .panel-heading > .tiny > a { font-size: 16px; }
.panel > .panel-heading.panel-heading-md { font-size: 32px; }

@media(max-width: 767px) {
	.panel > .panel-heading.panel-heading-md { font-size: 24px; }
}

.panel > .panel-heading.panel-heading-sm { font-size: 16px; }

.panel > .panel-body > .panel-brand {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: -10px -10px 20px;
	padding: 30px;
	position: relative;
	font-size: 24px;
}
.panel > .panel-body > .panel-brand.brand-striped { border-bottom: 1px solid #d0d0d0; }
.panel > .panel-body > .panel-brand.brand-blue-sky { color: #fff; background-image: url(../img/brands/blue-sky.jpg); }
.panel > .panel-body > .panel-brand.brand-blue-grey { background-image: url(../img/brands/blue-grey.jpg); }
.panel > .panel-body > .panel-brand.brand-blues { background-image: url(../img/brands/blues.jpg); }
.panel > .panel-body > .panel-brand.brand-dreary-day { background-image: url(../img/brands/dreary-day.jpg); }
.panel > .panel-body > .panel-brand.brand-sunset-camping { color: #fff; background-image: url(../img/brands/sunset-camping.jpg); }
.panel > .panel-body > .panel-brand.brand-summer-twilight { color: #fff; background-image: url(../img/brands/summer-twilight.jpg); }
.panel > .panel-body > .panel-brand.brand-banana-flame { color: #fff; background-image: url(../img/brands/banana-flame.jpg); }
.panel > .panel-body > .panel-brand.brand-creamy-grey { background-image: url(../img/brands/creamy-grey.jpg); }
.panel > .panel-body > .panel-brand.brand-ocean { color: #fff; background-image: url(../img/brands/ocean.jpg); }
.panel > .panel-body > .panel-brand.brand-sparkling-sife { color: #fff; background-image: url(../img/brands/sparkling-sife.jpg); }
.panel > .panel-body > .panel-brand.brand-yellow { color: #fff; background-image: url(../img/brands/yellow.jpg); }
.panel > .panel-body > .panel-brand.brand-beach-glass { background-image: url(../img/brands/beach-glass.jpg); }
.panel > .panel-body > .panel-brand.brand-green-thumb { color: #fff; background-image: url(../img/brands/green-thumb.jpg); }

.panel > .panel-body.panel-body-padding { padding: 30px; }
.panel > .panel-body.panel-body-padding > .panel-brand { margin: -30px -30px 20px; }
.panel > .panel-body.panel-body-edge { padding: 0; }
.panel > .panel-image { display: block; width: 100%; }
.panel > .panel-image > img {
	width: 96px;
	margin: 0 auto -48px;
	display: table;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
	z-index: 1;
	position: relative;
}
.panel > .panel-image.panel-image-left > img { margin: 0 auto -48px 16px; }
.panel > .panel-footer .btn { margin: 0; }

/*------*/
.card > .card-heading {
	border-radius: 2px 2px 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.card > .card-heading > h3 {
	display: block;
	height: 100%;
	padding: 100px 20px 20px;
	font-weight: 300;
	background: rgba(178, 156, 134, .2);
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.card.card-item > .card-heading > h3 { padding: 60px 20px; opacity: 0; }
.card.card-item:hover > .card-heading > h3 { opacity: 1; }
.card.card-item a { font-weight: 700; }
.card.card-sm > .card-heading > h3 { padding: 60px 10px 20px; }
.card.card-lg > .card-heading > h3 { padding: 40% 10px 20px; }
.card > .card-heading > h3 > a { color: #fff; }
.card > .card-body { padding: 20px; }
.card > .card-middle { margin: 0 0 5px; padding: 10px 20px; background-color: #fafafa; }
.card > .card-footer { padding: 0 20px 20px; }
.card > .card-footer a,
.card > .card-middle a { margin: 0; }
.card > .card-footer a > .ion,
.card > .card-middle a > .ion { font-size: 16px; }
/*************/
.textarea > p { line-height: 24px; margin: 12px 0; }
.textarea > .embed-responsive { margin: 12px 0; }
/*************/


/* Footer */
footer.mega { background: #ccc; padding: 30px 0; }
footer.mega a { font-weight: 700; }
footer.mega > .ct > .row > .copyright {}
footer.mega > .ct > .row > .social { padding-top: 10px; }
/*------*/
footer.tiny { padding: 30px 0; }
footer.tiny a { font-weight: 700; }
/*------*/
footer.shopping > .ct > .delivery { text-align: center; padding: 24px 0; }
footer.shopping > .ct > .delivery > .col { padding: 24px; }
footer.shopping > .ct > .delivery > .col > a > h3 { font-weight: 300; }
footer.shopping > .ct > .delivery > .col > a > .ion {
	display: table;
	width: 96px;
	line-height: 96px;
	border: 1px solid #666;
	border-radius: 50%;
	margin: 16px auto;
}
footer.shopping > .ct > .delivery > .col > a > p { font-weight: 300; }
/*------*/
footer.light { background: #fafafa; }
/*************/

/*************/

/* Tab Content */
.tab-panel > .nav-tabs { border-bottom: 2px solid #ddd; padding: 0 1px; }
.tab-panel > .nav-tabs > li.active > a,
.tab-panel > .nav-tabs > li.active > a:focus,
.tab-panel > .nav-tabs > li.active > a:hover { border-width: 0; }
.tab-panel > .nav-tabs > li > a { border-width: 0; color: #666; margin: 0; }
.tab-panel > .nav-tabs > li.active > a,
.tab-panel > .nav-tabs > li > a:hover { border-width: 0; color: #4285f4; background: transparent; }
.tab-panel > .nav-tabs > li > a::after {
	content: "";
	background: #4285f4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
.tab-panel > .nav-tabs > li.active > a::after,
.tab-panel > .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-panel > .tab-content { padding: 10px 0; }

.tab-panel.tab-panel-red > .nav-tabs > li > a { color: #c00; }
.tab-panel.tab-panel-red > .nav-tabs > li > a:hover { color: #c00; }
.tab-panel.tab-panel-red > .nav-tabs > li > a::after { background: #c00; }
/*------*/
.tab-panel.tab-panel-center > .tab-content,
.tab-panel.tab-panel-center > .nav-tabs { display: table; margin: 0 auto; }
/*------*/
.tab-panel.tab-panel-split > ul { border-width: 0; }
.tab-panel.tab-panel-split > ul > li > a { background: transparent; }
/*************/
/* Search */
.search { margin: 16px 0 0; }
.search > .ct .form-control {
	height: 48px;
	border-width: 0;
	margin: 0;
	box-shadow: none !important;
	font-weight: 300;
	font-size: 20px;
	color: rgba(255, 255, 255, .5);
	background: transparent;
}

body.search-active > .search { margin: 64px 0 0; }
/*************/
/* Media */
.media.media-center { display: table; margin: 0 auto; }
.media > .media-body > .media-heading > a > span { font-weight: 300; }
.media-list > .media + .media { border-top: 1px solid #f0f0f0; margin: 15px 0 0; padding: 15px 0 0; }
.media > .media-left > img { width: 64px; }
.media > .media-left.media-left-flex > img { width: auto; }
/* Buttons */
.btn {
	text-transform: uppercase;
	border-width: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
	margin: 0 0 10px;
	color: #666 !important;
	transition: all .1s ease 0;
}
.btn.focus,
.btn:active { box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2) !important; }
.btn.btn-mr { margin: 0; }

.btn.active { box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .2) !important; }

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active,
.btn-info.focus { background: #349ef3 !important; color: #fff !important; }

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active,
.btn-danger.focus { background: #f3343d !important; color: #fff !important; }

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active,
.btn-warning.focus { background: #f3aa34 !important; color: #fff !important; }

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-success.focus { background: #99cd5a !important; color: #fff !important; }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.focus { background: #005af1 !important; color: #fff !important; }

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active,
.btn-default.focus { background: #f0f0f0 !important; color: #666 !important; }

.btn-bordered { border: 1px solid !important; }
.btn-bordered.active { color: #fff; }

.btn-bordered.btn-info { border-color: #0e72c2 !important; color: #349ef3 !important; }
.btn-bordered.btn-info:hover,
.btn-bordered.btn-info:focus,
.btn-bordered.btn-info.active { color: #fff !important; }
.btn-bordered.btn-danger { border-color: #c9000a !important; color: #f3343d !important; }
.btn-bordered.btn-danger:hover,
.btn-bordered.btn-danger:focus,
.btn-bordered.btn-danger.active { color: #fff !important; }
.btn-bordered.btn-warning { border-color: #c67e0b !important; color: #f3aa34 !important; }
.btn-bordered.btn-warning:hover,
.btn-bordered.btn-warning:focus,
.btn-bordered.btn-warning.active { color: #fff !important; }
.btn-bordered.btn-success { border-color: #71ae28 !important; color: #99cd5a !important; }
.btn-bordered.btn-success:hover,
.btn-bordered.btn-success:focus,
.btn-bordered.btn-success.active { color: #fff !important; }
.btn-bordered.btn-primary { border-color: #0e4cb6 !important; color: #005af1 !important; }
.btn-bordered.btn-primary:hover,
.btn-bordered.btn-primary:focus,
.btn-bordered.btn-primary.active { color: #fff !important; }
.btn-bordered.btn-default { border-color: rgba(255, 255, 255, .5) !important; color: rgba(255, 255, 255, .8) !important; }
.btn-bordered.btn-default:hover,
.btn-bordered.btn-default:focus,
.btn-bordered.btn-default.active { color: #fff !important; background: rgba(0, 0, 0, .2) !important; }
/*------*/
.ripple {
	position: relative;
	overflow: hidden;
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #fff 10%, transparent 10%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}
.ripple:active:after {
	transform: scale(0, 0);
	opacity: .4;
	transition: 0s;
}
/*------*/
.error > .error-text { margin: 2px 0 10px; visibility: hidden; }
.error > .error-text-mr { margin: 0; }
.error > .form-control { margin: 0; }
.error.active { color: #f3343d; }
.error.active > .form-control { border-color: #f3343d; }
.error.active > .error-text { visibility: visible; }
/*------*/
textarea.form-control { padding: 20px; }

.form-control {
	resize: none;
	margin: 0 0 10px;
	cursor: pointer;
	-webkit-border-radius: 1px;
	   -moz-border-radius: 1px;
	        border-radius: 1px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	font-size: 12px;
	padding: 0 8px;
}
.form-control:focus {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	   -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
	border: 1px solid #4d90fe;
	outline: none;
	cursor: text;
}
.form-control::-ms-clear { display: none; }

/*------*/
.input-group { margin: 0 0 10px; }
.input-group > .input-group-addon { border-width: 0; background: transparent; }
.input-group > .input-group-addon > .ion { font-size: 22px; }
.input-group > .input-group-btn { padding: 0 0 0 10px; }
/*------*/
.icon-group > label {
	background: transparent;
	color: #333;
	margin: 4px !important;
	padding: 0;
	border-radius: 0;
	border-radius: 50% !important;
	width: 48px;
	line-height: 48px;
	font-size: 22px;
}
.icon-group > label.active,
.icon-group > label.focus,
.icon-group > label:hover { background: #ef4034 !important; }
/*------*/
.switch {
	cursor: pointer;
    position: relative;
    width: 40px;
    background: #ccc;
    display: inline-table;
    border-radius: 10px;
    margin: 0 0 10px;
}
.switch::after {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    width: 20px;
    height: 20px;
    position: relative;
    display: table;
    content: '';
}
.switch.active::after { margin-left: 20px; background: #333; }
/*------*/
.material-pager { padding: 0 0 20px; }
.material-pager > ul.pagination { margin: 0 auto; float: none; display: table; }
.material-pager > ul.pagination > li > a { margin: 5px; min-width: 48px; text-align: center; }
.material-pager > ul.pagination > li > a:hover { background: rgba(0, 0, 0, .1); }
.material-pager > ul.pagination > li.active > a { background: #2577ff; color: #fff; }
/*************/

/* Social */
.social-panel > .col > a { color: #999; }
.social-panel > .col > a:hover { color: #333; }
.social-panel > .col > a > p:nth-of-type(1) { font-size: 10px; }
.social-panel > .col > a > p:nth-of-type(2) { font-weight: bold; }
/*------*/

/*------*/
.panel-social-textarea { margin: 0 0 10px; }
.panel-social-textarea > .panel-body > .float { margin: 10px 0 0; }
.panel-social-textarea > .panel-body > .float > .pull > .indicator { font-size: 12px; padding: 0 5px 0 0; }
.panel-social-textarea > .panel-body > .input-group { margin: 0; }
.panel-social-textarea > .panel-body > .input-group > .input-group-addon { vertical-align: top; }
.panel-social-textarea > .panel-body > .input-group > .input-group-addon > .img-rounded {
	width: 64px;
	-webkit-filter: grayscale(100%);
    	    filter: grayscale(100%);
}
.panel-social-textarea > .panel-body > .input-group > .input-group-addon > .img-to { width: 32px; }
.panel-social-textarea > .panel-body.image-area {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			  box-sizing: content-box;

	background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	background:    -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	background: 		linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
	
	background-position: 0 0, 5px 5px;
	
	-webkit-background-origin: padding-box;
			  background-origin: padding-box;

	-webkit-background-clip: border-box;
			  background-clip: border-box;

	-webkit-background-size: 10px 10px;
		      background-size: 10px 10px;

    text-align: center;
}
.panel-social-textarea > .panel-body.image-area > .img { cursor: pointer; }
.panel-social-textarea > .panel-body.image-area > .img:hover { opacity: .8; }
@media (max-width: 767px) {
	.panel-social-textarea > .panel-body > .input-group > .input-group-addon > .img-rounded { width: 48px; }
	.panel-social-textarea > .panel-body > .input-group > .input-group-addon > .img-to { width: 32px; }
}
/*------*/
.social-video {
	background-repeat: no-repeat, repeat, no-repeat;
	background-position: center;
	background-size: 10%, auto, cover;

	cursor: pointer;
	opacity: .8;
}
.social-video:hover { opacity: 1; }
.social-video > iframe { visibility: hidden; }
/*************/