/* Reset */
* { transition: all .3s ease 0s; }

body { overflow-x: hidden; }

ul { margin: 0; padding: 0; list-style: none; }
ul.dropdown-menu { border-width: 0; margin: 0; }

.closes { cursor: pointer; }

.disabled { opacity: .5; }
.wait { cursor: wait; }

* > .btn:last-child,
* > .progress:last-child,
* > .alert { margin: 5px 0; }

a { color: #444; }
a:hover,
a:link,
a:visited { color: #666; }

.css {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
}

.badge {
	border-radius: 2px;
	background: rgba(0, 0, 0, .2);
	font-size: 10px;
	color: rgba(255, 255, 255, .9);
	text-shadow: none;
	padding: 4px 6px;
}

/*************/
/* Prıgress */
.progress { height: 2px; }
/*************/
/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	transform: translate(-100%);
	transition: none;
}
/*************/

/* List Group */
.list-group > .list-group-item { background: transparent; border-width: 0; padding: 10px; border-radius: 0; }
/*************/

/* Polling */
.polling {
	position: fixed;
	width: 48px;
	height: 48px;
	bottom: 4%;
	left: 2%;
	z-index: 1000;
	display: none;
}

body.polling-active > .polling { display: table; }
/*************/

/* Rolling */
.rolling {
	margin: 16px auto;
	opacity: .5;
	width: 48px;
	height: 48px;
	background-image: url('../img/rolling.svg');
	background-size: 48px;
}
/*************/

/* Alert */
.alert {
	border-width: 0;
	padding: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
                0 3px 1px -2px rgba(0, 0, 0, .1),
                0 1px 5px 0 rgba(0, 0, 0, .1);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.alert.alert-fluid {
	margin: 0 -15px;
	border-radius: 0;
	box-shadow: none;
}
.alert a { color: #fff; }
.alert a:hover { opacity: .5; }
/*************/

/* Drawer */
.drawer {
	width: 240px;
	max-height: 100%;
	background: #fafafa;
	position: fixed;
	z-index: 801;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	transition: all .2s ease 0s;	
	overflow: auto;
}
.drawer > .container-fluid > .brand { margin: 0 -15px; padding: 0 15px; max-height: 64px; background: #efefef; }
.drawer > .container-fluid > .brand > a > .img { max-height: 64px; }
.drawer > .container-fluid > .brand > a:hover > .img { margin: 0 0 0 20px; }
.drawer > .container-fluid > .panel-group > .panel { background: transparent; box-shadow: none; border-width: 0; }
.drawer > .container-fluid > .panel-group > .panel > .panel-heading { padding: 0; }
.drawer > .container-fluid > .panel-group > .panel > .panel-collapse > .list-group { border-width: 0; }
.drawer > .container-fluid > .group { margin: 0 -15px 5px; }
.drawer > .container-fluid > .group a { display: block; height: 100%; padding: 10px 15px; }
.drawer > .container-fluid > .group a.disabled { opacity: .5; }
.drawer > .container-fluid > .group a.active { background: #666; }
.drawer > .container-fluid > .group a > .badge { float: none; }
.drawer > .container-fluid .list-group > .list-group-item { border-width: 0; padding: 5px 15px; }

body.drawer-active { padding: 0 0 0 240px; }
body.drawer-active > .drawer { transform: translate(0); box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2); }

@media (max-width: 992px) {
	body.drawer-active { overflow-y: hidden; padding: 0; }
	body.drawer-active > .overlay-drawer {
		transform: translate(0);
		z-index: 800;
	}
}
/*************/

/* Dock */
.dock {
	width: 240px;
	background: #fafafa;
	position: fixed;
	z-index: 701;
	top: 64px;
	bottom: 0;
	right: 0;
	transform: translate(100%);
	overflow: auto;
}
.dock a { font-weight: bold; }

body.dock-active { overflow-y: hidden; }
body.dock-active > .dock { transform: translate(0); box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2); }
body.dock-active > .overlay-dock { transform: translate(0); z-index: 700; }
/*************/

/* Modal */
.modal {
	position: fixed;
	z-index: 901;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	transition: none;
	overflow: auto;
	padding: 64px 0;
}
.modal:before,
.modal:after {
	content: " ";
	display: table; }
.modal:after { clear: both; }

.modal > .panel { padding: 0; transition: none; }
.modal > .panel > .panel-heading { padding: 10px 25px; line-height: 32px; min-height: 64px; color: #fff; opacity: 1; }
.modal > .panel > .panel-close {
	cursor: pointer;
	display: table;
	width: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 32px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, .1);
	color: #fff;
}
.modal > .panel > .panel-close:hover { background: rgba(0, 0, 0, 1); }
.modal > .panel > .panel-body { padding: 30px; }
.modal > .panel > .panel-body > .list-group { margin: 0; }
.modal > .panel > .panel-footer { margin: -2px 0 0; border-radius: 0 0 2px 2px; border-width: 0; }
.modal > .panel > .panel-footer .btn { margin: 0; }

/* BG Class */
.modal > .panel.share > .panel-body { background-image: url('../img/share.png'); background-repeat: no-repeat; background-position: -64px -64px; }
.modal > .panel.user > .panel-body { background-image: url('../img/user.png'); background-repeat: no-repeat; background-position: -64px -64px; }
/**/

body.modal-active { overflow-y: hidden; }
body.modal-active > .modal { transform: translate(0); }
body.modal-active > .overlay-modal { transform: translate(0); z-index: 900; }
/*************/

/* Top Link */
.top {
	position: fixed;
	z-index: 100;
	right: 32px;
	bottom: 32px;
	background: #ccc;
	width: 48px;
	line-height: 48px;
	text-align: center;
	opacity: .2;
	display: none;
}
.top:hover { opacity: .8; }

body.top-active > .top { display: table; }
/*************/

/* Toast Alert */
.toast {
	position: fixed;
	z-index: 10000;
	right: 32px;
	bottom: 32px;
	left: 32px;
	display: none;
}
.toast > .toast-content {
	display: table;
	margin: 0 auto;
	background: rgba(0, 0, 0, .9);
	border-radius: 4px;
	color: #ccc;
	padding: 10px 15px;
	cursor: pointer;
}

body.toast-active > .toast { display: block; }
/*************/

/* Preloading */
.preloader {
	position: fixed;
	top: 0;
	z-index: 10000;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 15% 0 0;
	text-align: center;
	transform: translate(-100%);
	transition: none;
}

body.preloader-active { overflow-y: hidden; }
body.preloader-active > .preloader { transform: translate(0); }
/*************/

/* Header */
nav.header {
	position: fixed;
	z-index: 750;
	top: 0;
	right: 0;
	left: 0;
	background: #ef4034;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
}
nav.header > .container-fluid > ul > li { float: left; }
nav.header > .container-fluid > ul > li > a.drawer-menu { padding: 14px; }
nav.header > .container-fluid > ul > li > a.drawer-menu > .disk { border: 2px solid rgba(0, 0, 0, .5); width: 32px; margin: 6px 0 6px; border-radius: 4px; }
nav.header > .container-fluid > ul > li > a { display: block; height: 100%; color: #fff; padding: 0 16px; line-height: 64px; }
nav.header > .container-fluid > ul > li > a > .ion { font-size: 16px; }
nav.header > .container-fluid > ul > li > a > .img { max-height: 64px; }
nav.header > .container-fluid > ul > li > a:hover,
nav.header > .container-fluid > ul > li > a.active { background: rgba(255, 255, 255, .1); }
nav.header > .container-fluid > ul > li > a.disabled { opacity: .5; box-shadow: none; cursor: default; }
nav.header > .container-fluid > ul > li > .dropdown-menu { border-radius: 0 0 2px 2px; }

body.drawer-active > nav.header { left: 240px; }

@media (max-width: 992px) {
	body.drawer-active > nav.header { left: 0; }
}
/*************/

/* Main Content */
main.content > .breadcrumb { margin: 0; background: #fff; }
main.content > .container-fluid { margin: 0; }
main.content > .container-fluid > .panel-grid { padding: 15px 0; }

main.content > footer.main { padding: 32px 0; background: #333; color: #ccc; }
main.content > footer.main > .container-fluid > .col > .img { opacity: .4; }
main.content > footer.main > .container-fluid > .col > .img:hover { opacity: 1; }
main.content > footer.main > .container-fluid > .col > .list-group { margin: 10px 0; }
main.content > footer.main > .container-fluid > .col > .list-group > .list-group-item { padding: 5px; }
main.content > footer.main > .container-fluid > .col > .list-group > .list-group-item:hover { background: rgba(0, 0, 0, .1) }
main.content > footer.main a { color: #111; font-weight: bold; }
main.content > footer.main a:hover { color: #ccc; }

/*------*/
.headline > .item {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 0;
	height: 200px;
}
.headline > .item > a { padding: 15px 10px; display: block; height: 100%; background: rgba(0, 0, 0, .5); }
.headline > .item > a:hover { background: rgba(0, 0, 0, .1); }
.headline > .item > a > .type { background: rgba(0, 0, 0, .5); display: table; color: #fff; padding: 2px 4px; font-size: 10px; }
.headline > .item > a > .type:after {
	font-family: 'Ionicons';
	position: absolute;
	font-size: 16px;
	background: rgba(0, 0, 0, .5);
	border-radius: 50%;
	display: table;
	width: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	bottom: 10px;
	left: 10px;
}
.headline > .item > a > .type.video:after { content: '\f215'; }
.headline > .item > a > .type.photo:after { content: '\f148'; }
.headline > .item > a > .type.article:after { content: '\f12f'; }

.headline > .item > a > .title { color: #fff; font-size: 16px; }

@media(max-width: 767px) {
	.headline > .item:nth-of-type(3),
	.headline > .item:nth-of-type(4) { height: 200px; }
}
@media(min-width: 768px) {}
@media(min-width: 992px) {
	.headline > .item:nth-of-type(3),
	.headline > .item:nth-of-type(4) { height: 100px; }
}
@media(min-width: 1200px) {}
/*------*/
.title { padding: 5% 0; background-size: 700px 100px; background-position: bottom center; }
.title > .container-fluid > h1 { margin: 0; font-weight: 300; }
/*------*/
.panel-material { box-shadow: none; background: transparent; }
.panel-material > .panel-heading { font-size: 24px; font-weight: 300; cursor: default; opacity: .9; }
.panel-material > .panel-body {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
              0 3px 1px -2px rgba(0, 0, 0, .1),
              0 1px 5px 0 rgba(0, 0, 0, .1);
  background: #fff;
  border-width: 0;
  padding: 10px;
  border-radius: 2px;
}
.panel-material > .panel-body.note {
	padding: 0 32px;
	background-image: repeating-linear-gradient(0deg, #e5d9a1, #e5d9a1 1px, #fff4c2 1px, #fff4c2 32px);
	line-height: 32px;
}
.panel-material > .panel-body > .card { margin: -10px; }
.panel-material > .panel-body.panel-body-padding { padding: 30px; }
.panel-material > .panel-body.panel-body-null { padding: 0; }
.panel-material > .panel-body + .panel-body { margin: 15px 0 0; }
.panel-material p,
.panel-material h3 { margin: 0; }
.panel-material > .list-group {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1),
              0 3px 1px -2px rgba(0, 0, 0, .1),
              0 1px 5px 0 rgba(0, 0, 0, .1);
    padding: 0;
    background: #fff;
}
/*------*/
.card {  }
.card > .card-heading { border-radius: 2px 2px 0 0; }
.card > .card-heading > h3 {
	display: block;
	height: 100%;
	padding: 100px 20px 20px;
	font-weight: 300;
	border-radius: 2px 2px 0 0;
	background: rgba(178, 156, 134, .2)
}
.card > .card-heading > h3 > a { color: #fff; }
.card > .card-body { padding: 20px; }
.card > .card-footer { padding: 0 20px 20px; }
.card > .card-footer a { margin: 0; }
.card > .card-footer a > .ion { font-size: 16px; }
/*------*/
.gallery > .thumbnail { border-width: 0; margin: 0; padding: 0; }
.gallery > .thumbnail + .thumbnail { margin: 10px 0 0; }
.gallery > .thumbnail > .caption { padding: 90px 10px 10px; background: rgba(255, 255, 255, .7); }
.gallery > .thumbnail > .caption:hover { background: rgba(255, 255, 255, .5); }
/*------*/

/*************/

/* Search */
.search { background: #d32f2f; }
.search > .container-fluid .form-control {
	height: 48px;
	border-width: 0;
	margin: 16px 0 0;
	box-shadow: none !important;
	font-weight: 300;
	font-size: 20px;
	color: rgba(255, 255, 255, .5);
	background: transparent;
}
.search > .container-fluid a.times {
	color: #fff;
	position: relative;
	float: right;
	display: table;
	margin: -48px 0 0;
	width: 48px;
	line-height: 48px;
	text-align: center;
}
.search > .container-fluid a.times { font-size: 22px; }
.search > .container-fluid a.times:hover { background: rgba(255, 255, 255, .1); }

body.search-active > .search { margin: 48px 0 0; }
/*************/
/* Button */
.material-pager > ul.pagination > li > a,
.btn {
  text-transform: uppercase;
  border-width: 0;
  margin: 0 0 10px;
  background: transparent;
  border-radius: 2px;
  color: #666;
}
.btn:hover,
.btn:active,
.btn:focus { box-shadow: none; }

.btn-info.btn-colored:hover,
.btn-info.btn-colored:focus { background: #349ef3 !important; }
.btn-danger.btn-colored:hover,
.btn-danger.btn-colored:focus { background: #f3343d !important; }
.btn-warning.btn-colored:hover,
.btn-warning.btn-colored:focus { background: #f3aa34 !important; }
.btn-success.btn-colored:hover,
.btn-success.btn-colored:focus { background: #99cd5a !important; }
.btn-primary.btn-colored:hover,
.btn-primary.btn-colored:focus { background: #005af1 !important; }
.btn-default.btn-colored:hover,
.btn-default.btn-colored:focus { background: #f0f0f0 !important; }

.ripple { overflow: hidden; position: relative; transition: all .5s ease 0s; }
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;

  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from { transform: scale(1); opacity: .4; }
    to { transform: scale(20); opacity: 0; }
}

.form-control {
  resize: none;
  background: rgba(230, 240, 250, .5);
  margin: 0 0 10px;
  border-width: 0 0 0 1px;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
  color: #999;
}
.form-control:focus { cursor: text; box-shadow: none; }

/*------*/
.material-pager > ul.pagination { margin: 20px auto; float: none; display: table; }
.material-pager > ul.pagination > li > a { margin: 5px; min-width: 48px; text-align: center; }
.material-pager > ul.pagination > li > a:hover { background: rgba(0, 0, 0, .1); }
.material-pager > ul.pagination > li.active > a { background: #2577ff; color: #fff; }
/*************/








